<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zamataro.arduinoandroidmionew">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="zamataro.arduinoandroidmionew.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="zamataro.arduinoandroidmionew.ConfigActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="zamataro.arduinoandroidmionew.SignupActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="zamataro.arduinoandroidmionew.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="zamataro.arduinoandroidmionew.MainActivity" />
        <activity android:name="zamataro.arduinoandroidmionew.DeviceListActivity" />
        <activity android:name="zamataro.arduinoandroidmionew.DiarioActivity" />
        <activity android:name="zamataro.arduinoandroidmionew.DiarioHistoricoActivity" />
        <activity android:name="zamataro.arduinoandroidmionew.Menu" />
        <activity android:name="zamataro.arduinoandroidmionew.DiarioModifyActivity" />
        <activity android:name="zamataro.arduinoandroidmionew.NotaActivity" />
        <activity android:name="zamataro.arduinoandroidmionew.StoricoActivity" />
    </application>

</manifest>